.caroDiv {
    display: block;
}

.caroDiv2 {
    display: none;
}

.caroDiv3 {
    display: none;
}

.homeCaro {
    display: block;
    width: 100%;
    margin: 0 0 0 0%;
    height: auto;
}

.bodi {
    background-color: #2a2b2b;
}

.pack {
    background-color: #2a2b2b;
    padding: 0 10% 3.5% 10%;
}

/* 
.homeCaro2 {
    display: none;
} */

.react-multiple-carousel__arrow {
    opacity: 0 !important;
}

.caroText {
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.02em;
    color: #FFD6AB;
    position: absolute;
    top: 25rem;
    left: 12%;
    border-bottom: #FFD6AB 2px solid;
}

.caroBtn {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 39rem;
    left: 12%;
    border-radius: 10px;
    border: 1px #fff solid;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.caroBtn2 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 39rem;
    left: 28%;
    border-radius: 10px;
    border: 1px #fff solid;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    min-width: 43px;
    min-height: 43px;
    opacity: 0;
    cursor: pointer;
}

.amHead {
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    border-bottom: #FFFFFF 1px solid;
    padding: 4% 0 0% 0;
    margin: 0 0 4% 0;
}

.joinImg {
    display: block;
    width: 70%;
}

.joinImgMob {
    display: none;
    width: 20%;
}

.joining {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.join1 {
    width: 21%;
    height: auto;
    padding: 0 6% 0 6%;
    cursor: pointer;
}

.join2 {
    width: 21%;
    height: auto;
    padding: 0 6% 0 6%;
    cursor: pointer;
}

.join3 {
    width: 21%;
    height: auto;
    padding: 0 6% 0 6%;
    cursor: pointer;
}

.allevent {
    display: block;
    width: 85%;
}

.alleventm {
    display: none;
    width: 80%;
}

.dwnld {
    display: flex;
    flex-wrap: wrap;
    padding: 4% 13% 3% 13%;
    background-color: #212121;
}

.dwnld1 {
    width: 50%;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

.dwnld2 {
    width: 50%;
}

.dwnldBtn {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #36963D;
    border: 2px solid #36963D;
    background-color: #212121;
    float: right;
    cursor: pointer;
}


@media screen and (max-width: 1550px) {

    .caroText {
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 18rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .caroBtn {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 30rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .caroBtn2 {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 30rem;
        left: 30%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

}


@media screen and (max-width: 1430px) {

    .caroText {
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 18rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .caroBtn {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 30rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .caroBtn2 {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 30rem;
        left: 33%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

}

@media screen and (max-width: 1200px) {

    .caroText {
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 15rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .caroBtn {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 27rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .caroBtn2 {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 27rem;
        left: 38%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

}




@media screen and (max-width: 1000px) {

    .caroDiv {
        display: none;
    }

    .caroDiv2 {
        display: block;
    }

    /* .homeCaro {
        display: none;
    }

    .homeCaro2 {
        display: block;
        width: 100%;
        margin: 0 0 0 0%;
        height: auto;
    } */



    .caroText {
        font-weight: 600;
        font-size: 43px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 11rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .caroBtn {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 20rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .caroBtn2 {
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) 0%, rgba(217, 217, 217, 0.1) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        top: 20rem;
        left: 36%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    .amHead {
        font-weight: 300;
        font-size: 45px;
        line-height: 55px;
        color: #FFFFFF;
        border-bottom: #FFFFFF 1px solid;
        padding: 4% 0 0% 0;
        margin: 0 0 4% 0;
    }
}



@media screen and (max-width: 730px) {

    .caroBtn {
        top: 16rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.02em;
    }

    .caroBtn2 {
        top: 16rem;
        left: 42%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.02em;
    }

    .caroText {
        font-weight: 600;
        font-size: 43px;
        line-height: 60px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 8rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .caroDiv3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .caroBtn {
        top: 14rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
    }

    .caroBtn2 {
        top: 14rem;
        left: 37%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
    }

    .caroText {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 8rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .amHead {
        font-weight: 300;
        font-size: 38px;
        line-height: 48px;
        color: #FFFFFF;
        border-bottom: #FFFFFF 1px solid;
        padding: 4% 0 0% 0;
        margin: 0 0 4% 0;
    }

    .joinImg {
        display: none;
        width: 70%;
    }

    .joinImgMob {
        display: block;
        width: 80%;
    }

    .join1 {
        width: 80%;
        height: auto;
        padding: 0 6% 10% 10%;
        cursor: pointer;
    }

    .join2 {
        width: 80%;
        height: auto;
        padding: 0 6% 10% 10%;
        cursor: pointer;
    }

    .join3 {
        width: 80%;
        height: auto;
        padding: 0 6% 10% 10%;
        cursor: pointer;
    }

    .allevent {
        display: none;
        width: 85%;
    }

    .alleventm {
        display: block;
        width: 80%;
        padding: 0 10% 0 10%;
    }

    .dwnld {
        display: flex;
        flex-wrap: wrap;
        padding: 4% 13% 3% 13%;
        background-color: #212121;
    }

    .dwnld1 {
        width: 100%;
        color: white;
        font-size: 17px;
        font-weight: 600;
        line-height: 30px;
    }

    .dwnld2 {
        width: 100%;
    }

    .dwnldBtn {
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #36963D;
        border: 2px solid #36963D;
        background-color: #212121;
        float: right;
        cursor: pointer;
    }



}

@media screen and (max-width: 464px) {

    .caroDiv {
        display: none;
    }

    .caroDiv2 {
        display: none;
    }

    .caroDiv3 {
        display: block;
    }

    .caroBtn {
        top: 16rem;
        left: 12%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
    }

    .caroBtn2 {
        top: 16rem;
        left: 50%;
        border-radius: 10px;
        border: 1px #fff solid;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
    }

    .caroText {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #FFD6AB;
        position: absolute;
        top: 10rem;
        left: 12%;
        border-bottom: #FFD6AB 2px solid;
    }

    .amHead {
        font-weight: 300;
        font-size: 38px;
        line-height: 48px;
        color: #FFFFFF;
        border-bottom: #FFFFFF 1px solid;
        padding: 8% 0 0% 0;
        margin: 0 0 6% 0;
    }
}