.outerPack {
    background: url('./blurBg.png');
    z-index: -1;
}

.packOutlier {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-start; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    background: url('./blurBg.png');
    /* margin: -5rem, 0; */
    background-size: cover;
    padding: 5rem 0 0 0;
    /* margin-bottom: 5rem; */
}

.pack1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    /* margin-top: 5rem; */
    padding-bottom: 2rem;
    background-color: #2A2B2B;
    color: #FFFFFF;
    /* z-index: 1; */
}

.p1Card {
    width: 500px;
    margin: 2rem 3rem;
    padding: 2rem 5rem 2rem 1rem;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 0.5cm;
    line-height: 0.7cm;
}

.p1Card:hover {
    box-shadow: 0 8px 16px 0 #FFFFFF;
}

.headP1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7cm;
    font-weight: bolder;
}

.p1Li {
    margin-bottom: 2.4rem;
}

.pack2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2.4rem;
    background-color: #2A2B2B;
    color: #FFFFFF;
}

.p2Card {
    width: 350px;
    margin: 2rem 3rem;
    padding: 2rem 2rem 2rem 1rem;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 0.5cm;
    line-height: 0.7cm;
}

.p2Card:hover {
    box-shadow: 0 8px 16px 0 #FFFFFF;
}


.p2Li {
    margin-bottom: 1.2rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #FFFFFF;
}

.p2Li:last-child {
    border-bottom: none;
}

.pack3 {
    background-color: #2A2B2B;
    margin: 3.5rem 0;
    color: #FFFFFF;
    font-size: 20px;
}

.para1 {
    margin: 1rem 1rem 2rem 1rem;
    padding: 1rem 10rem 1rem 5rem;
    line-height: 1.8rem;
}

.para2{
    margin: 1rem 1rem;
    padding: 1rem 50rem 1rem 5rem;
}

.p3List{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.step{
    width: 7rem;
}

.stepDesc{
    margin-left: 0;
}


.para3{
    display: flex;
}

.paraPart{
    margin-left: 1.7rem;
    margin-right: 8rem;
}

.p3List2 {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    list-style-type: none;
}

.p3Li {
    /* margin-right: 1rem; */
    display: flex;
    flex-wrap: no wrap;
    margin-bottom: 2.2em;
}

.smTxt {
    width: 7rem;
    margin: 1rem 1.5rem 1rem 0.1rem;
    padding: 3.6rem 0.5rem;
}


.p3Img1 {}

.heading {
    /* font-family: 'Times New Roman', Times, serif; */
    margin-top: 3rem;
    margin-right: 4rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1cm;
    margin-left: 4rem;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.pack4{
    color: #FFFFFF;
    background-color: #2A2B2B;
    margin-bottom: 2rem;
}

.contents {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1rem;
}

.content1 {
    border-right: 2px dashed #FFFFFF;
    margin-left: 4rem;
    margin-right: 0.3rem;
    margin-bottom: 9rem;
    padding-right: 15rem;
}

.content2 {
    border-left: 2px dashed #FFFFFF;
    padding-left: 12rem;
    margin-right: 4rem;
    margin-bottom: 9rem;
}

.p4List{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p4Li {
    display: flex;
    margin-bottom: 4rem;
    margin-bottom: 5rem;
}

.level{
    height: 1.3rem;
    width : 5rem;
    padding-right: 0px;
    margin-right: 0.5rem;
    /* box-sizing: border-box; */
    /* border: 2px solid white; */
}

.levDesc{
    padding-left: 0;
    /* padding-right: 10rem; */
    /* border: 2px solid white; */
}



@media screen and (max-width: 1412px){
    .paraPart{
        margin-left: 1.7rem;
        margin-right: 0rem;
        width: 50%;
    }
    .step{
        /* height: 1rem; */
        width: 9rem;
    }
    .stepDesc{
        margin-left: 1rem;
        /* margin-right: 4rem; */
    }
}

@media screen and (max-width: 1043px){
    .para2{
        width: 100%;
        padding: 1rem 2rem 1rem 5rem;
    }
    .stepDesc{
        margin-right: 2rem;
        padding-right: 2rem;
    }
}